  <%- include("templates/header") %>
  <div id="Schedule"></div>
  <!-- ej.base.registerLicense(`<%= ESSENTIAL_STUDIO_KEY %>`); -->
  </script>
  <script src="/assets/calendar.js"></script>
  </body>

  <!-- </html> -->
  <%- include("templates/footer") %>