</div> <!-- Main content container -->
<footer class="footer mt-auto py-3 bg-body-tertiary">
  <div class="container">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    </ul>
    <p class="text-center text-body-secondary">© 2024 SchoolScope AI, Inc</p>
  </div>
</footer>
</body>
</html>